

.nosotroscont{

  h2{
    padding: 15px;
    justify-self: center;
    text-align: center;
    font-size: 35px;
    color: $color-text;
    font-family: $font;
  }
  
  p{
    display: flex;
    font-size: 25px;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: $color-text;
    font-family: $font;
    padding-bottom: 40px;

  }

}

.imgequip {
      width: 250px;
      height: 300px;
    }

.equipcontent{


      h3{
        text-align: start;
        font-size: 25px;
        color:$color-text;
        font-family: $font;
        padding-top: 10px;
      }

      p{
        text-align: start;
        font-size: 20px;
        color: $color-text;
        font-family: $font;
      }


}
