.contenido{
        padding: 15px;
        justify-self: center;
        text-align: center;
        font-size: 25px;
        color: $color-text;
        font-family: $font;

        p{
            display: flex;
            font-size: 20px;
            width: 100%;
            justify-content: center;
            text-align: center;
        }
}

#galeria{

    img{
        height:85% ;
        width:85% ;
        justify-self: center;

    }

}


